{% extends "base.html.twig" %}


{% block title %}Цех переводчиков{% endblock %}

{% block body %}
    <h1> {% trans %}добро пожаловать в цех переводчиков{% endtrans %}</h1>

    {% if  app.user %}
        {{ form(form) }}
    {% else %}
        <p>
            {% trans %}Чтобы иметь возможность оставлять заказ на перевод{% endtrans %}
            <a href="{{ path('fos_user_security_login') }}">{% trans %}авторизуйтесь{% endtrans %}</a>, {% trans %}а если нет аккаунта, пройдите{% endtrans %} <a
                    href="{{ path('fos_user_registration_register') }}">{% trans %}регистрацию{% endtrans %}</a> {% trans %}на сайте{% endtrans %}
        </p>
    {% endif %}
    {% for word in words %}
        <p><a href="{{ path('app_words_translate', {'id': word.id}) }}">{{ word.translate('ru').word }}</a></p>
    {% endfor %}
{% endblock %}
